.z-auxheader-content {
  font-family: Arial,Sans-serif;
  font-size: 12px;
  font-weight: lighter;
  font-style: normal;
  color: #2679C5;
  padding: 4px 5px 3px;
  line-height: 24px;
  overflow: hidden;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #2B7DBC;
    padding: 20px; 
    
}


.rcorners6 {
    border-radius: 15px 50px;
	 border: 2px solid #2B7DBC;
    background: rgba(190, 216, 212, 0.22);
    padding: 20px; 
  
}
.lbls{
	padding-left: 0px !important;
}
.inps{
	padding: 4px 5px 3px 5px;
	width: 220px !important;
}
.inps_s{
	padding: 4px 5px 3px 5px;
}
.no_pad{
	padding-left: 0px !important;
}
.form_{
	width: 100%;
	max-width: 380px;
	overflow: initial;
}
.btn_bus{
	margin-left: 5px;
}

.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}